@model LoginViews

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<div class="wrapper">
    <h2>Login</h2>
    <form asp-action="Login" method="post">
        @if (TempData["Error"] != null)
        {
            <div class="text-danger fw-bold">@TempData["Error"]</div>
        }
        <div class="input-box">
            <input asp-for="Email" type="text" placeholder="Enter your Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="Password" type="password" placeholder="password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="policy">
            <input asp-for="RememberMe" type="checkbox">
            <h3>Remember me ? </h3>
        </div>
        <div class="input-box button">
            <button type="submit" class="btn btn-primary form-control">Login Now</button>
        </div>
        <div class="text">
            <h3>Don't have an account? <a asp-action="Register">Register now</a></h3>
             <h3>Forget your password? <a asp-action="SendEmail">Reset password</a></h3>
        </div>
    </form>
</div>
