@model IEnumerable<ProductViewModel> 

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6">
        <h2>Product</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary">Add Product</a>
    </div>
</div>
@if (Model.Count() > 0)
{
    <table id="tblData" class="table-bordered table border-3 border-dark">
        <thead class="border-2">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>ListPrice</th>
            <th>Price</th>
            <th>Price 50+</th>
            <th>Price 100+</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
}else
{
    <div>No product</div> 
}
@section Scripts
{
    <script src="~/js/product.js"></script>
    <script>
        $(document).ready(function (){
            loadDataTable()
        })
    </script>
}
